.problem {
    /*box-shadow: 1px 1px 28px 1px rgb(0 0 0 / 30%);*/

}

.problem-navbar {
    padding: 10px;

}

.problem-navbar a:hover {
    background: #1535d7;
    color: #fff !important;
}


.problem-nav-item {
    padding: 15px;
    margin: 0 10px;
}


.active {
    background-color: #1535d7;
    border-radius: 5px;
}

.active a {
    color: #fff !important;
}

.active a:hover {
    color: #fff !important;
}

.problem-info, .submit-code, .attempts {
    padding: 30px 35px !important;
    box-shadow: 1px 1px 28px 1px rgb(0 0 0 / 30%);
}

.requirements span {
    font-size: 14px;
    color: #fff;
    padding: 0 6px;
}

.time-limit {
    background: #00bc8c;
}

.memory-limit {
    background: #1535d7;
}

.difficulty {
    background: #d71515;
}

.problem-description {
    padding: 20px 10px !important;
    margin-top: 10px;
    font-size: 20px;
}

.input {
    font-size: 18px;
}

.input-data {
    font-size: 18px;
}

.test-copy {
    position: absolute;
    right: 10px;
    border: none;
    padding: 2px 5px;
    background: #3654dc;
    color: #fff;
    border-radius: 5px;
}

.active {
    background-color: #1535d7 !important;
    color: #fff !important;
}


.table-blue th {
    background: #1535d7!important;
    color: #fff!important;
}